@model cw2.Models.Принимаемые_препараты

@{
    ViewBag.Title = "Details";
}
@{ if (Session["role"].ToString() != "Спортсмен" && Session["role"].ToString() != "Администратор")
    {<h1>У вас нет прав просматривать данные</h1> }
}
<h2>Details</h2>

<div>
    <h4>Принимаемые_препараты</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Медикаменты)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Медикаменты)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Пищевые_добавки)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Пищевые_добавки)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Витамины)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Витамины)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Минералы)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Минералы)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Длительность_приема)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Длительность_приема)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Действие_назначения_врача)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Действие_назначения_врача)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Спортсмены.Вид_спорта)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Спортсмены.Вид_спорта)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Номер_назначения_врачом }) |
    @Html.ActionLink("Back to List", "Index")
</p>
