@model cw2.Models.Лаборанты

@{
    ViewBag.Title = "Delete";
}
@{ if (Session["role"].ToString() != "Лаборант" && Session["role"].ToString() != "Администратор")
    {<h1>У вас нет прав удалять данные</h1> }
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Лаборанты</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Категория)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Категория)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Место_работы)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Место_работы)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Стаж__в_годах_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Стаж__в_годах_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Персональные_данные.Фамилия)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Персональные_данные.Фамилия)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
